DWilson-DataFactory/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DWilson-DataFactory"
		},
		"asynapseMarketingInsights_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'asynapseMarketingInsights'"
		},
		"lsMarketingInsights_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'lsMarketingInsights'"
		},
		"AzureBlobStorage1_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://speedeondatalake.blob.core.windows.net"
		},
		"lsMarketingInsights_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://marketinginsights.azurewebsites.net"
		},
		"AzureDataLakeStorage1_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/ebcf966c-31a5-468b-ba6f-3ab0777856a8/resourceGroups/northcentralproductionrg/providers/Microsoft.Storage/storageAccounts/speedeondatalake"
		},
		"AzureDataLakeStorage1_properties_groupId": {
			"type": "string",
			"defaultValue": "dfs"
		},
		"EnduranceDirect_Custom_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://speedeondatalake.dfs.core.windows.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('AzureBlobStorage1_properties_typeProperties_serviceEndpoint')]",
					"accountKind": "StorageV2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/asynapseMarketingInsights')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('asynapseMarketingInsights_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lsMarketingInsights')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('lsMarketingInsights_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('lsMarketingInsights_functionKey')]"
					},
					"authentication": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_test_newmover')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "TEST Stored Procedure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_source_test_newmover]",
							"storedProcedureParameters": {
								"trigger_date": {
									"value": {
										"value": "@utcnow('yyyy-MM-dd')",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "asynapseMarketingInsights",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Cleanse Initial",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "TEST Stored Procedure",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_source_standard_cleanse_initial]",
							"storedProcedureParameters": {
								"file_source_destination": {
									"value": "test_newmover",
									"type": "String"
								},
								"source_type": {
									"value": "NEWMOVER",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "asynapseMarketingInsights",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "New Mover Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Cleanse Initial",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_source_standard_newmover_staging_new]",
							"storedProcedureParameters": {
								"source": {
									"value": "test_newmover",
									"type": "String"
								},
								"sourcecode": {
									"value": "19",
									"type": "String"
								},
								"sourcecontentcode": {
									"value": "M",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "asynapseMarketingInsights",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/asynapseMarketingInsights')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "North Central US",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('AzureDataLakeStorage1_properties_privateLinkResourceId')]",
				"groupId": "[parameters('AzureDataLakeStorage1_properties_groupId')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EnduranceDirect_Custom')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('EnduranceDirect_Custom_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime1')]"
			]
		}
	]
}